# 3. EDA_clustering

Try to build clusters to find patterns before labeling.  
Results is not good as expected-- we won't use unsupervised learning in our project.

## Using clusters to find patterns

In [1]:
# read data
%store -r disaster_tweets
%store -r tweets_words

In [2]:
tweets_words.head()

,000,000 acres,000 hurricaneharvey,000 salads,10,100,1000,1000 acres,11,12,...,work,world,wow,wtf,ya,year,year old,yes,yesterday,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
disaster_tweets.head()

,created_at,favorite_count,hashtags,retweet_count,text
2,Thu Nov 08 23:59:59 +0000 2018,10,[],0,Think it’s getting to the point where it may b...
4,Thu Nov 08 23:59:58 +0000 2018,0,['CampFire'],0,RT @DaniD0909: My BIL was stuck in a safe zone...
11,Thu Nov 08 23:59:55 +0000 2018,0,[],0,RT @AboutElizabethM: This is my hometown. My h...
22,Thu Nov 08 23:59:52 +0000 2018,0,['CampFire'],0,RT @CAFireScanner: #CampFire (Butte Co) - Repo...
23,Thu Nov 08 23:59:52 +0000 2018,0,[],0,RT @kazweida: What's happening in Paradise rig...

In [4]:
len(tweets_words)

1397

In [5]:
len(disaster_tweets)

1397

## k-means

We chose k-means here because it can control the number of clusters.

In [6]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(tweets_words)

In [7]:
km = KMeans(n_clusters=2, #we tried 2, 3 and 5 to see if there are any patterns
            random_state=42)
km.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [8]:
len(km.labels_)

1397

In [9]:
len(disaster_tweets)

1397

In [10]:
disaster_tweets['cluster'] = km.labels_
disaster_tweets.head()

,created_at,favorite_count,hashtags,retweet_count,text,cluster
2,Thu Nov 08 23:59:59 +0000 2018,10,[],0,Think it’s getting to the point where it may b...,0
4,Thu Nov 08 23:59:58 +0000 2018,0,['CampFire'],0,RT @DaniD0909: My BIL was stuck in a safe zone...,0
11,Thu Nov 08 23:59:55 +0000 2018,0,[],0,RT @AboutElizabethM: This is my hometown. My h...,0
22,Thu Nov 08 23:59:52 +0000 2018,0,['CampFire'],0,RT @CAFireScanner: #CampFire (Butte Co) - Repo...,0
23,Thu Nov 08 23:59:52 +0000 2018,0,[],0,RT @kazweida: What's happening in Paradise rig...,0

In [11]:
# number of cluster 0
len(disaster_tweets[disaster_tweets['cluster'] == 0]['text'])

1394

In [12]:
# number of cluster 1
len(disaster_tweets[disaster_tweets['cluster'] == 1]['text'])

3