# 2.2 Build Disaster Corpus

In [6]:
import pandas as pd

In [9]:
# read data
%store -r disaster
%store -r disaster_words
tweets_count_word = pd.read_csv('../data/tweets_word_count.csv')

In [10]:
disaster_words.head()

,000,000 acres,000 home,000 salads,10,10 sale,100,100 contain,100 percent,100 proceed,...,yes,yesterday,young,youtube,yrs,yrs old,yummy,zenith,zenith fountain,zero
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
tweets_count_word.head()

             index  word_count
0  hurricaneharvey         851
1         carrfire         561
2         campfire         302
3             help         288
4           victim         148

## Check word frequency as a reference

Check Word Frequency as a reference to build a basic help_words list.

In [13]:
# picked up words based on tweets_count_word
# some interesting findings: 'please help' and 'pleasehelp' both exists
 
help_words = [# words in tweets_count_word
              'help', 'please help','pleasehelp','need help','needhelp','assistance','donate',
              'support','need support','victims','shelter','lose home','red across', 'lost',
              'dab','debris','disaster','devastate','damage','emergency','destroy','disaster assist team',
              'support harricane','disasterassistteam',
              # self-added words
              'severe', 'damage','unsafe',
              'need shelter', 'help us', 'help me',
              'flood','flooding']

## Create disaster corpus  based on exsiting tweets

Use help_words as above to roughly find all related words in the existing tweets. This corpus is used to label our training data(existing tweets).

## Create disaster corpus based on Wikipedia

This corpus is an extension of the previous existing disaster corpus. This new disaster corpus is used to predict whether a new tweet is related to diasater.